{% extends 'index.html' %}

{% block page %}
   <p>
 <form name="forma" method="post" onsubmit="return validateForm()">
     {% csrf_token %}
     <div class="main-signin__forma">
         <div class="main-signin__head">
            <p>Запис на ТО</p>
         </div>
         <div class="main-signin__middle">
             <div class="middle__form__forma">

                <p><label required=True for="id_last_name">Прізвище замовника: </label> <input id="id_last_name" maxlength="200" name="last_name" type="text" /></p>
                 <div class="valid" id="last_name"></div>
                <p><label for="id_first_name">Ім&#39;я замовника:</label> <input id="id_first_name" maxlength="200" name="first_name" type="text" /></p>
                <div class="valid" id="first_name"></div>
                 <div class="middle__form__forma__calendar">
                    <p><label for="id_date">Забронюйте дату та час:</label> <input onchange="showtime()" type="text" name="date" id="datetimepicker2"/> <input onclick="showtime()" id="disableTimeRangesExample" name="time" type="text" class="time start" /></p>
                     <div class="valid" id="datetime"></div>
                 </div>
                 <p><label for="id_car_name">Виберіть автомобіль:</label> <select id="id_car_name" name="car_name">
                <option value="" selected="selected">---------</option>
                <option value="1">Toyota Camry</option>
                <option value="2">Toyota Corolla</option>
                     <option value="3">Toyota Land Cruiser</option>
                     <option value="4">Toyota GT-86</option>
                </select></p>
                 <div class="valid" id="car_name"></div>
                <p><label for="id_problem">Опис проблеми:</label> <textarea cols="40" id="id_problem" maxlength="200" name="problem" rows="10"></textarea></p>
                <div class="valid" id="problem"></div>
             </div>
         </div>
         <div class="main-signin__foot">
                     <input type="submit" value="Відправити запит" />
         </div>
     </div>
    </form>
{% endblock %}