{% extends 'index.html' %}

{% block page %}
    <form action="/accounts/login/" method="post">
     {% csrf_token %}
        <div class="main-signin">
            <div class="main-signin__head">
                <p>АВТОРИЗАЦІЯ</p>
            </div>
            <div class="main-signin__middle">
                <div class="middle__form">

                    <input type="text" name="username" id="username"/>
                    <input type="password" name="password" id="password"/>
                    {% if login_error %}
                        <label>{{ login_error }}</label>
                    {% endif %}
                    <input class="button" type="submit" value="Вхід">
                    <input type="button" onclick="location.href='/register/'" class="btn btn-success"
                           value="Реєстрація">
                </div>
            </div>
            <div class="main-signin__foot">
                <div class="foot__left">
                    <p>Авторизуватися через:</p>
                </div>
                <div class="foot__right">
                    {% load ulogin_tags %}
                    {% ulogin_widget %}
                  <!--  <div class="twit"><a href="#"></a></div>
                    <div class="face"><a href="#"></a></div> -->
                </div>
            </div>
        </div>
    </form>

{% endblock %}