{% extends 'index.html' %}
{% load staticfiles %}

{% block page %}
    {% if user.is_authenticated %}
        <div class="registr">
            <p> ERROR!</p>
        </div>
    {% else %}
     <form name="register" action="." method="post" onsubmit="return validate()">
         <div class="main-signin__registr">
             <div class="main-signin__head">
                <p>РЕЄСТРАЦІЯ</p>
             </div>
             <div class="main-signin__middle">
                 <div class="middle__form__registr">
                     {% csrf_token %}
                    <label required=True for="id_username">Логін:</label> {{ form.username }}
                     <div class="valid" id="username"></div>
                    <label for="id_email">E-mail:</label> {{ form.email }}
                     <div class="valid" id="email"></div>
                    <label required=True for="id_first_name">Ім'я:</label> {{ form.first_name }}
                     <div class="valid" id="first_name"></div>
                    <label required=True for="id_last_name">Прізвище:</label> {{ form.last_name }}
                     <div class="valid" id="last_name"></div>
                    <label for="id_password1">Пароль:</label> {{ form.password1 }}
                     <div class="valid" id="password1"></div>
                    <label for="id_password2">Пароль (знову):</label> {{ form.password2 }}
                     <div class="valid" id="password2"></div>
                     <input type="submit" value="Зареєструвати" />
                 </div>
             </div>
         </div>
     </form>
    {% endif %}
{% endblock %}
