{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

      <title>Online CTO</title>
    
    <link href="{% static "static/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "static/css/carousel.css" %}" rel="stylesheet">
      <link href="{% static "static/css/dashboard.css" %}" rel="stylesheet">
      <link href="{% static "static/css/style.css" %}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static "static/date/jquery.datetimepicker.css"%}"/>


  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div >
      <div >

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/home/">Online СТО</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
              <ul class="nav navbar-nav">
                <li><a href="/home/">Головна</a></li>
                <li><a href="/about/">Про нас</a></li>
                  <li><a href="/table/all/">Ціни</a></li>
                  {% if username %}
                  <li><a href="/form/">Запис на ТО</a></li>
                      <li><a href="/myforms/">Мої записи на ТО</a></li>
                  {% endif %}
                {% if username == 'drerek'  %}
                    <li><a href="/admin/">Адміністрування</a></li>
                {% endif %}
                  </ul>
                    <div class="nav  navbar-right">

                        {% if username %}
                            <li> Вітаємо, {{ first_name }} <button onclick="location.href='/accounts/logout/'" class="btn btn-success">Вихід</button></li>
                          {% else %}
                            <button onclick="location.href='/accounts/login/'" class="btn btn-success">Вхід</button>
                            <button onclick="location.href='/register/'" class="btn btn-success">Реєстрація</button>
                        {% endif %}
                    </div>


            </div>
          </div>
        </nav>

      </div>
    </div>

    {% block page %} {% endblock %}

    <script type="text/javascript" charset="utf-8" src="{% static "static/js/validation.js" %}"></script>
    <script src="{% static "static/js/jquery.js" %}"></script>
    <script src="{% static "static/js/bootstrap.min.js" %}"></script>
    <script src="{% static "static/js/holder.min.js" %}"></script>
  <script src="{% static "static/date/build/jquery.datetimepicker.full.js"%}"></script>
  <script>

$.datetimepicker.setLocale('uk');
function DiffArrays(A,B)
{
    var M = A.length, N = B.length, c = 0, C = [];
    for (var i = 0; i < M; i++)
     { var j = 0, k = 0;
       while (B[j] !== A[ i ] && j < N) j++;
       while (C[k] !== A[ i ] && k < c) k++;
       if (j == N && k == c) C[c++] = A[ i ];
     }
   return C;
}
$('#datetimepicker2').datetimepicker({
     onGenerate:function( ct ){
    jQuery(this).find('.xdsoft_date')
      .toggleClass('xdsoft_enabled');
  },
	timepicker:false,
	format:'Y-m-d',
	formatDate:'Y-m-d',
	minDate:'0',
    onChangeDateTime :function() {
    var date = $("#datetimepicker2").val();
        $.ajax({
            type: 'GET',
            url: "/date_from_ajax/",
            data: {
                "data": date
            },
            dataType: 'json',
            success: function (dat) {
                var allow = ['08:00', '10:00', '12:00', '14:00', '16:00'];
                var a0;
                a0=DiffArrays(allow,dat['time_list']);
                $('#disableTimeRangesExample').datetimepicker({
                    datepicker: false,
                    timepicker: true,
                    format: 'H:i',
                    allowTimes:a0
                });

            }
        });

    }
});
</script>
</body>
</html>
