{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

      <title>Online CTO</title>
    
    <link href="{% static "static/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "static/css/carousel.css" %}" rel="stylesheet">
      <link href="{% static "static/css/dashboard.css" %}" rel="stylesheet">
      <link href="{% static "static/css/style.css" %}" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="{% static "static/calendar/jquery.timepicker.css"%}" />
      <link rel="stylesheet" type="text/css" href="{% static "static/calendar/lib/bootstrap-datepicker.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "static/date/jquery.datetimepicker.css"%}"/>


  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div >
      <div >

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/home/">Online СТО</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
              <ul class="nav navbar-nav">
                <li><a href="/home/">Головна</a></li>
                <li><a href="/about/">Про нас</a></li>
                  <li><a href="/table/all/">Ціни</a></li>
                  {% if username %}
                  <li><a href="/form/">Запис на ТО</a></li>
                      <li><a href="/myforms/">Мої записи на ТО</a></li>
                  {% endif %}
                  </ul>
                    <div class="nav  navbar-right">

                        {% if username %}
                            <li> Вітаємо, {{ first_name }} <button onclick="location.href='/accounts/logout/'" class="btn btn-success">Вихід</button></li>
                          {% else %}
                            <button onclick="location.href='/accounts/login/'" class="btn btn-success">Вхід</button>
                            <button onclick="location.href='/register/'" class="btn btn-success">Реєстрація</button>
                        {% endif %}
                    </div>


            </div>
          </div>
        </nav>

      </div>
    </div>

    {% block page %} {% endblock %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "static/js/jquery.js" %}"></script>
    <script src="{% static "static/js/bootstrap.min.js" %}"></script>
    <script src="{% static "static/js/holder.min.js" %}"></script>
    <script type="text/javascript" src="{% static "static/calendar/jquery.timepicker.js"%}"></script>
    <script type="text/javascript" src="{% static "static/calendar/lib/bootstrap-datepicker.js"%}"></script>
    <script type="text/javascript" src="{% static "static/calendar/lib/site.js"%}"></script>
  <script src="http://jonthornton.github.io/Datepair.js/dist/datepair.js"></script>
    <script src="http://jonthornton.github.io/Datepair.js/dist/jquery.datepair.js"></script>
<script>


            </script>
  <script src="{% static "static/date/build/jquery.datetimepicker.full.js"%}"></script>
  <script>

$.datetimepicker.setLocale('uk');
/*var dateToDisable = new Date();
	dateToDisable.setDate(dateToDisable.getDate() + 2);
$('#datetimepicker2').datetimepicker({
	beforeShowDay: function(date) {
		if (date.getMonth() == dateToDisable.getMonth() && date.getDate() == dateToDisable.getDate()) {
			return [false, "custom-date-style"]
		}
		return [true, ""];
	}
});*/
$('#datetimepicker2').datetimepicker({
     onGenerate:function( ct ){
    jQuery(this).find('.xdsoft_date')
      .toggleClass('xdsoft_enabled');
  },
	timepicker:false,
	format:'Y-m-d',
	formatDate:'Y-m-d',
	minDate:'0'
});

function showdate() {
    $('#datepairExample .time').remove();
    var date = $("#datetimepicker2").val();
    if (date == "") {
        alert("Спочатку виберіть дату");
    }
    else {
        $('#datepairExample .time').timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia'
        });
        var ajx = $.ajax({
            type: 'GET',
            url: "/date_from_ajax/",
            data: {
                "data": date
            },
            /*"csrfmiddlewaretoken": $('#datetimepicker2 input[name=csrfmiddlewaretoken]').val()*/
            dataType: 'json',
            /*complete: ajx.abort(),*/
            success: function (dat) {
                /*alert(typeof((Number(dat[i])+1).toString()));*/
                var leng = dat['time_list'].length;
                if (leng == 0) {
                    var a0 = "";
                    var a1 = "";
                    var a2 = "";
                    var a3 = "";
                    var a4 = "";
                }
                if (leng == 1) {
                    var a0 = [(dat['time_list'][0]), ((Number((dat['time_list'][0])) + 1).toString())];
                    var a1 = "";
                    var a2 = "";
                    var a3 = "";
                    var a4 = "";
                }
                if (leng == 2) {
                    var a0 = [(dat['time_list'][0]), ((Number((dat['time_list'][0])) + 1).toString())];
                    var a1 = [(dat['time_list'][1]), ((Number((dat['time_list'][1])) + 1).toString())];
                    var a2 = "";
                    var a3 = "";
                    var a4 = "";
                }
                if (leng == 3) {
                    var a0 = [(dat['time_list'][0]), ((Number((dat['time_list'][0])) + 1).toString())];
                    var a1 = [(dat['time_list'][1]), ((Number((dat['time_list'][1])) + 1).toString())];
                    var a2 = [(dat['time_list'][2]), ((Number((dat['time_list'][2])) + 1).toString())];
                    var a3 = "";
                    var a4 = "";
                }
                if (leng == 4) {
                    var a0 = [(dat['time_list'][0]), ((Number((dat['time_list'][0])) + 1).toString())];
                    var a1 = [(dat['time_list'][1]), ((Number((dat['time_list'][1])) + 1).toString())];
                    var a2 = [(dat['time_list'][2]), ((Number((dat['time_list'][2])) + 1).toString())];
                    var a3 = [(dat['time_list'][3]), ((Number((dat['time_list'][3])) + 1).toString())];
                    var a4 = "";
                }
                if (leng == 5) {
                    var a0 = [(dat['time_list'][0]), ((Number((dat['time_list'][0])) + 1).toString())];
                    var a1 = [(dat['time_list'][1]), ((Number((dat['time_list'][1])) + 1).toString())];
                    var a2 = [(dat['time_list'][2]), ((Number((dat['time_list'][2])) + 1).toString())];
                    var a3 = [(dat['time_list'][3]), ((Number((dat['time_list'][3])) + 1).toString())];
                    var a4 = [(dat['time_list'][4]), ((Number((dat['time_list'][4])) + 1).toString())];
                }
                /*alert (dat['time_list'][i]);*/
                $('#disableTimeRangesExample').timepicker({
                    'disableTimeRanges': [
                        a0,
                        a1,
                        a2,
                        a3,
                        a4
                    ],
                    'timeFormat': 'H:i',
                    'minTime': '8',
                    'maxTime': '16',
                    'step': 120
                });

            }
        });
    }

    }




</script>
</body>
</html>
