{% extends 'index.html' %}
{% load staticfiles %}

{% block page %}
    <p>
 <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <img class="first-slide" src="{% static "logo.jpg" %}" width="100%" height="100%">
            <!--<div class="jumbotron">

            </div>-->
          <div class="row">
              <!--<div class="col-xs-6 col-lg-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              </div><!--/.col-xs-6.col-lg-4-->
              <!--<div class="col-xs-6 col-lg-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              </div><!--/.col-xs-6.col-lg-4-->
              <!--<div class="col-xs-6 col-lg-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              </div><!--/.col-xs-6.col-lg-4-->

              <!-- START THE FEATURETTES -->

              <hr class="featurette-divider">

              <div class="row featurette">
                  <div class="col-md-7">
                      <h1><big>Online CTO</big></h1>
    <p class="lead"> До Ваших послуг високотехнологічна станція технічного обслуговування, де Ви зможете швидко пройти
        ТО або отримати допомогу при раптовій поломці. Фахівці нашої СТО в Києві знають про автомобілі абсолютно все! Ми
        проводимо повне ТО автомобілів марки TOYOTA. Також ми пропонуємо свої послуги мийки та хімчистки автомобілів
        будь-яких марок за доступною ціною.
        Не дивлячись на те, що компанія "Online СТО" заснована в 2012 році, фахівці нашої станції технічного
        обслуговування мають багаторічний досвід в ремонті та обслуговуванні автомобілів. У цьому ви зможете
        переконатися, звернувшись до нас.
        Вартість робіт, яку ми пропонуємо, в рази нижче, ніж на будь-яких інших сертифікованих станціях.
        Якщо випадкова поломка застала Вас зненацька, оператори цілодобового колл-центру завжди приймуть Ваш дзвінок і
        заявку на ремонт авто, щоб вирішити проблему максимально швидко.
        Ми гарантуємо, що наш автосервіс виправдає всі ваші очікування.
        Незабаром плаується відкриття нової станції ТО, де буде доступне повне ТО для автомобілів марки HYUNDAI.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="{% static "sto.jpg" %}"
             alt="Generic placeholder image">
        <img class="featurette-image img-responsive center-block" src="{% static "3.png" %}"
             alt="Generic placeholder image">
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h1><big>Тільки оригінальні запчастини!</big></h1>

            <p class="lead">Ми використовуємо тільки оригінальні запчастини, які купуємо у офіційних дилерів автомобілів
                марки TOYOTA.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="{% static "origin.jpg" %}"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h1><big>Унікальна Online система!</big></h1>

            <p class="lead">Опис системи...</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Контакти</a>

              <p> Наша адреса: вулиця Велика Окружна, 56, Софіївська Борщагівка, Київська область</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5874.754766261!2d30.380504442034443!3d50.41487884799526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xd4ddf9e3ad0ea63d!2z0KLQvtC50L7RgtCw!5e0!3m2!1suk!2sua!4v1450227653626"
                      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div><!--/.container-->
    </p>
{% endblock %}