{% extends 'tabl.html' %}
{% load staticfiles %}

{% block pagetabl %}

              {% for details in detail %}
                <tr>
                  <td>{{ details.id }}</td>
                  <td>{{ details.details_cars }}</td>
                  <td>{{ details.details_name }}</td>
                  <td>{{ details.details_price }}</td>
                  <td>
                      {% if details.details_isav %}
                      В наявності! Вітаємо!
                      {% else %}
                      Немає в наявності. :(
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}